.header {
    &__container {
        justify-content: space-between;
        align-items: center;
    }
    &--position {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 10;
    }
}

.nav {
    align-items: center;
    padding-right: 16px;

    &__list {
        align-items: center;
        margin-right: 32px;
        gap: 51px;
    }
    &__link {
        color: var(--light-color);
    }
}