<header class="header">
  <div class="container flex header__container">
    <a class="logo">
      <img src="img/logo.svg" alt="logo">
    </a>
    <nav class="nav flex" title="">
      <ul class="list-reset flex nav__list">
        <li class="nav__item"><a href="#" class="nav__link">States</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Tools</a></li>
        <li class="nav__item"><a href="#" class="nav__link">People</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Learn More</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Donate</a></li>
      </ul>
      <a href="" class="nav__link">Log In</a>
    </nav>
    
  </div>
</header>
